li a {
    color: green;
}

body {
    background: white url("https://s3.amazonaws.com/thuangydjango/watercolor.jpg");/* no-repeat right bottom;*/
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    font-family: "Tahoma";
}

#index_body {
	background-size: 100% 100%;
}


h1 {
	text-align: center;
	padding: 200px;
	font-size: 3em;
}

h2 {
	padding: 50px;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-size: 3em;
	text-align: center;
}

.errorlist {
	list-style-type: none;
}

#category_form, #login_form {
	text-align: center;
}

#user_form {
	padding-left: 300px;
}

#logout, #login, #register, #homepage, #bot_tweetlet, #submit_tweetlet, #my_tweetlets, #login_submit, #register_submit {
	float: right;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 20px;
	padding: 5px;
	background: rgba(255,255,255,0.5);
}

#bot_tweetlet, #submit_tweetlet, #login_submit, #register_submit {
	float: none;
	cursor: pointer;
	outline: none;
}

#bot_container {
	text-align: center
}

#homepage, #my_tweetlets {
	float: left;
}

#new_tweetlet {
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 20px;
	padding: 5px;
	background: rgba(255,255,255,0.5);
}

#new_tweetlet_container {
	text-align: center;
}

.tweetlet {
	border: 1px solid #666666;
	padding: 20px;
	display: inline-block;
	width: 300px;
	border-radius: 10px;
}

.tweetlet_message {
	list-style-type: none;
	font-size: 1.5em;
}

#id_message {
	width: 240px;
	padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid white;
    outline: none;
}

.text-input, #id_username, #id_email, #id_password  {
	padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid white;
    outline: none;
}


