<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/thuangydjango/style.css" />
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hilo-deco" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <head>
        <title>Tweetlet</title>
    </head>

    <body id="make_tweetlet_body">
        <div id="container"> 
            <div id="background"></div>
        <div id="homepage_container">
            <a id="homepage" href="/twitlet/">Home</a>
        </div>
    </br>
        <h3>Make a tweetlet!</h3>

        {% if clicked %}
            {% if new_tweetlet %}
                <p> {{ new_tweetlet }} </p>
            {% else %}
                <p>No recent tweetlets.</p>
            {% endif %}
        {% endif %}

        <form id="category_form" method="post" action="/twitlet/make_tweetlet/">

            

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                <br />
                <br />

                {% if user.is_authenticated %}

                <div id="bot_container">

                    <input name="bot_tweetlet" id="bot_tweetlet" type="button" value="Auto-generate (based on your past tweetlets)" />


                    <!--<button id="bot" onclick="/twitlet/make_tweetlet()">Or let us write one for you, based on your previous tweetlets!</a>-->
                </div>

                {% else %}
                <div id="bot_container">

                    <input name="bot_tweetlet" id="bot_tweetlet" type="button" value="Auto-generate (based on all past tweetlets)" />
                    <!--<button id="bot" onclick="/twitlet/make_tweetlet()">Or let us write one for you, based on your previous tweetlets!</a>-->
                </div>

                {% endif %}

                <br />
                <br />
                {{ field }}
                <br />
                <br />
            {% endfor %}

            <input id="submit_tweetlet" type="submit" name="submit" value="Make Tweetlet" />
        </form>
    </div>
        <script>
            document.getElementById("bot_tweetlet").onclick = function() {
                document.getElementById("id_message").value = "{{ new_tweetlet }}";
                //alert("{{ new_tweetlet }}");

                /*$.post("twitlet/views.py", {'form': {{ form }}, 'new_tweetlet': {{ new_tweetlet}} }, function() {
                    alert("Reclicked");
                });*/
            }

        </script>
    </body>
</html>
